---
import Gallery from "@/components/Gallery";
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import Meta from "@/components/Meta.astro";
import SEO from "@/content/site/SEO";

const lang = "en";
---

<MainLayout lang={lang}>
  <Meta lang={lang} SEO={SEO[lang]} slot="seo" />
  <Fragment slot="content">
    <Section
      title="Explore My Portfolio"
      variant="pageTitle"
      background="none"
      TitleTag="h1"
    />
    <section class="container mx-auto">
      <Gallery client:visible />
    </section>
  </Fragment>
</MainLayout>
