---
import "@/styles/globals.css";
import PreviewImg from "@/assets/projects/coming-soon.webp";
import Logo from "public/favicon.svg";
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FC1XF8KJH5"></script>
    <script type="text/partytown" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FC1XF8KJH5");
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Passionate web developer skilled in both front-end and back-end technologies. Proficient in core programming concepts and languages like JavaScript, PHP, and C++. Experienced with MERN Stack, WordPress, and UI tools like Figma. Eager to build a career in web development to create impactful, high-quality digital solutions with attention to detail and problem-solving at the forefront."
    />
    <!--  Essential META Tags -->
    <meta property="og:title" content="BishoyGH" />
    <meta property="og:type" content="portfolio" />
    <meta property="og:logo" content={Logo.src} />
    <meta property="og:image" content={PreviewImg.src} />
    <meta property="og:url" content="http://bishoygh.github.io" />
    <meta name="twitter:card" content="Bishoy Gamal Portfolio Website" />
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="BishoyGH" />
    <meta name="twitter:image:alt" content="Portfolio Website Preview" />
    <title>BishoyGH</title>
  </head>
  <body>
    <div
      class="overflow-x-hidden text-neutral-300 antialiased selection:bg-emerald-300 selection:text-emerald-900"
    >
      <div class="fixed top-0 -z-10 h-full w-full">
        <div
          class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
        >
        </div>
      </div>
      <div class="container mx-auto px-8">
        <div class="grid min-h-screen place-content-center">
          <img
            src={PreviewImg.src}
            alt="Coming Soon..."
            class="mb-2 rounded-lg"
          />
          <h1 class="text-center text-sm">New Content Coming Soon</h1>
        </div>
      </div>
    </div>
  </body>
</html>
