---
import image from "@/assets/images/hero_image.webp";
import { Image } from "astro:assets";
---

<div class="blob-mask mx-auto md:h-[500px] md:w-[500px]">
  <Image
    src={image}
    alt="Programming"
    loading="eager"
    class="h-[350px] w-[350px] object-cover md:h-full md:w-full"
  />
</div>

<style>
  @keyframes blobAnimation {
    0%,
    100% {
      clip-path: path(
        "M250.5 22.5C100 18 98.0605 -28.8104 40 46.9739C-5.14853 105.905 -25 325 52 384.5C166.933 473.311 400.767 435 431 380C519.5 219 462.517 75.0245 443.5 46.9739C383.5 -41.5261 315.718 24.45 250.5 22.5Z"
      );
    }
    50% {
      clip-path: path(
        "M232.5 1.50001C80.5 8.5 80 31.5 40.5 97C2.16246 160.572 -32.9505 372.133 59.5 402.5C128 425 385 499.5 419.5 416.5C490.017 246.852 446.517 117.551 427.5 89.5C367.5 1.00002 297.678 -1.5016 232.5 1.50001Z"
      );
    }
  }

  .blob-mask {
    overflow: hidden;
    animation: blobAnimation 8s infinite ease-in-out;
  }

  @media screen and (max-width: 768px) {
    @keyframes blobAnimation {
      0%,
      100% {
        clip-path: path(
          "M183.459 15.9867C73.1721 12.6889 71.7509 -21.6165 29.2041 33.9226C-3.88077 77.1105 -18.4279 237.677 37.9977 281.282C122.22 346.368 293.574 318.291 315.729 277.984C380.582 159.994 338.825 54.4798 324.889 33.9226C280.921 -30.9353 231.25 17.4158 183.459 15.9867Z"
        );
      }
      50% {
        clip-path: path(
          "M150.429 0.465789C51.7566 5.01433 51.432 19.9596 25.79 62.5211C0.90272 103.83 -21.8913 241.301 38.1241 261.033C82.5918 275.654 249.427 324.063 271.823 270.13C317.6 159.894 289.362 75.8748 277.016 57.6476C238.066 0.140898 192.741 -1.48464 150.429 0.465789Z"
        );
      }
    }
  }
</style>
